<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="MajorLogs" value="${LOG_PATH}/logs/face"/>
    <property name="MinorLogs" value="${LOG_PATH}/logs/spring"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{ISO8601}) %highlight(%-5level) %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="MajorRollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MajorLogs}/face-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d, %p, %C{1.} => %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${MajorLogs}/archived/face-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="MinorRollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${MinorLogs}/spring-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${MinorLogs}/archived/spring-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="MajorRollingFile"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="com.hara" level="debug" additivity="false">
        <appender-ref ref="MinorRollingFile"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="MinorRollingFile"/>
        <appender-ref ref="Console"/>
    </logger>

</configuration>